html,body {
	margin:0px;
	border:0px;
	padding:0px;
	width:100%;
	height:100%;
	font-size:18px;
	background-color:#272822;
	color:#F8F8F0;
	font-family: "Microsoft YaHei";
}

#board div {
	line-height:2em;
}

#board {
	height:85%;
	padding:1em 1em 0em 1em;
}

.rownum {
	color:#aaa;
}

.title {
	font-size:26px;
}

.keyword {
	margin-left:8px;
}

.name {
	font-size:22px;
	font-weight:bold;
	margin-left:3px;
}

.size {
	color:#F92672;
	margin-left:12px;
}

.modifyDate {
	color:#66D9EF;
	margin-left:12px;
}

.location {
	color:#A6E22E;
}

#commandline {
	height:10%;
	padding-left:1em;
}

input{
	color:#F8F8F2;
	border:0;
	font-size:18px;
	background-color:#272822;
	width:90%;
	margin-left:5px;
	padding-left:3px;
}

#info {
	margin-left:5px;
	font-size:14px;
	color:#AE81FF;
}

.dark-grey{
	background-color:#272822;
}

.grey {
	background-color:#49483E;
}

.light-grey {
	background-color:#75715E;
	background-color: #E6DB74;
	background-color: #AE81FF;
	background-color: #66D9EF;
	background-color: #FD971F;
	background-color: #F8F8F2;
	background-color: #F8F8F0;
}

.size-red {
	background-color: #F92672;
}